.containercatalogo {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: #583101;
    margin: 0 auto;
    border-radius: 15px;
    position: relative;
}
.catalogotitle{
    height: 200px;
    width: 200px;
}

.containercatalogo nav{
    height: 0;
    width: 0;
}

.cardcatalogo{
    position: absolute;
}

.iconfood{
    top: 1;
    right: 30%;
}

.iconcama{
    top: 0;
    right: 30%;
}