.cardcontainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    row-gap: 10px;
    column-gap: 10px;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
    width: 110%;
    background-color: #ffddd2;

}

.cardimage{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #0b132b;
}
.cardcontainertitle {
    display: flex;
    justify-items: center;
    align-items: center;
}
.a1{
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}

.cardimage:hover{
    transition: transform 0.3s;
  box-shadow: 5px 5px 5px #6f7364;
  border: 3px solid;
  opacity: 0.6;
}