/* .logo1{
    background-color: #ffa69e;
} */

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
    background: linear-gradient(to top, rgb(0 0 0 / .1),rgb(0 0 0 / .1)),url(https://us.123rf.com/450wm/vasya/vasya1408/vasya140800071/31024406-huellas-de-fondo-sin-fisuras-animal-print.jpg?ver=6);

}

.menu-lista{
    padding-top: 18px;
}


.nav-link{
    margin: 0 13px;
    color:black;
    font-size: 35px;
    font-weight: bold;
    color: #000;
    border-right: 3px solid black;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.5px;
    font-family: 'Fredoka One', cursive;;
    padding: 10px;
    text-decoration: none;
    text-shadow: #000 4px 4px;
}

.nav-link:hover{
    color: rgba(79, 236, 225, 0.966);
}

.logo{
/* font-size: 2rem;
color:white; */
margin: 5px;
padding: 0 20px;
}   

@media screen and (max-width: 750px){
    .navbar{
        flex-direction: column;
        background-image: 100px;
        font-size: 10px;
    }

    .nav-link{
        font-size: 20px;
        padding: 5px;
    }

    .logo{
        width: 100%
    }
}